* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: lightGrey;
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 2.4rem;
}


@import './components/_titleBar.scss';
@import './components/_wrapper.scss';
@import './components/_item.scss';
